.venv
data
**/__pycache__
machine_learning/models/*
machine_learning/predictions/*

# infrastructure sensitive
**/.terraform*
**/variables.tf
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars

# credentials
credentials.conf
config/*
*.pem
